*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 20px;
    font-family: sans-serif;
}
body{
    min-height: 100vh;
    background-color: #000;
    background-size: cover;
    padding: 2.5rem 5rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
:root {
    --text-colour: rgba(255, 255, 255, 1.0);
    --background-gradient: linear-gradient(rgba(58, 74, 100, 0.8) 0%, rgba(17, 17, 46, 0.5) 100%);
    --background-color: #444;
    --button-background: rgba(180,184,187,.7);
    --button-hover: rgba(180,184,187,1.0);
    --button-inactive: rgba(76,82,85,.7);
}

/* header */

/* navigation */
.page-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background: var(--background-gradient);
    border-radius: .5rem;
}
.nav-buttons{
    display: flex;
}
.nav-buttons > * + *{
    margin-left: 2rem;
}
.button {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    background: var(--button-background);
    font-family: inherit;
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    transition: all .2s;
    border: none;
    cursor: pointer;
}
.button:hover {
    background-color: var(--button-hover);
}
.buttons-language {
    position: relative;
}
.button-language-top {
    position: relative;
    padding-right: 20px;
    width: 7.1rem
}
.button-language-top i {
    position: absolute;
    right: 1rem;
    margin-left: 0rem;
}
.top-open {
    border-radius: .5rem .5rem 0 0
}
.buttons-language-list {
    position: absolute;
    max-height: 0;
    overflow: hidden;
}
.buttons-language > i {
    position: absolute;
    text-align: center;
    right: 0.5rem;
    z-index: 100;
    top: 50%;
    transform: translateY(-50%);
    color: var(--text-colour);
    cursor: pointer;
}
.list-open {
    height: 20rem;
    height: auto;
    overflow: visible;
}

.button-language-list {
    width: 7.1rem;
    border-radius: 0;
    cursor: pointer
}
.inactive, .inactive:hover  {
    background: var(--button-inactive);
    color: hsla(0,0%,100%,.7);
    cursor: auto;
}

.button-language-list:last-child {
    border-radius: 0 0 .5rem .5rem
}
.arrow-down {
    width: 2rem;
    height: 1,5rem;
}
.buttons-language > i.arrow-down-open {
    transform: translateY(-50%) rotate(180deg);
}


/* search bar */
.search-bar {
    margin-left: 1rem;
}
.search-bar__form{
    display: flex;
    align-items: center;
    position: relative;
}
.search-bar label{
    font-family: inherit;
    font-size: 1.5rem;
    font-weight: 700;
    margin-right: 1rem;
    white-space: nowrap;
}
.search-bar__text{
    height: 3rem;
    padding: .5rem;
    border-bottom-left-radius: .5rem;
    border-top-left-radius: .5rem;
    font-weight: 700;
    border: none;
    min-width: 18rem;
}
.search-bar__button{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}


/* end header */

/* main */
.page-main{
    display: flex;
    justify-content: space-between;
    margin: .5rem 0;
}
.current-forecast, .geolocation{
    padding: 1rem;
    background: var(--background-gradient);
    border-radius: .5rem;
}
.current-forecast__location{
    padding-bottom: .5rem;
    border-bottom: 1px solid #fff;
    text-align: center;
}
.current-forecast__conditions *{
    text-align: center;
    font-size: 1.3rem;
    font-weight: 700;
}
.current-forecast__conditions .time{
    margin-top: .5rem;
}
.current-forecast__conditions img{
    width: 150px;
    height: auto;
    display: inline-block;
}
.current-forecast__conditions .temp{
    display: inline-block;
    font-size: 3rem;
    transform: translateY(-100%);
}
.geolocation .position{
    text-align: right;
    margin-top: .5rem;
    font-weight: 500;
}
.geolocation-iframe {
    width: 400px;
    height: 400px;
    border: 0;
    border-radius: .5rem;
}
/* end main */

/* footer */
.page-footer {
    padding: 1rem;
    background: var(--background-gradient);
    border-radius: .5rem;
}
.daily-forecast__title{
    padding-bottom: .5rem;
    border-bottom: 1px solid #fff;
}
.daily-forecast__contents{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
    text-align: center;
}
.dayAbbreviation{
    font-weight: 700;
}
/* end footer */


.zero-vis{
    visibility: hidden;
    opacity: 0
}
.fade-in{
    visibility: visible;
    opacity: 1;
    -webkit-animation-name: fadeInOpacity;
    animation-name: fadeInOpacity;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s
}
@-webkit-keyframes fadeInOpacity{
    0%{
        opacity: 0
    }
    100%{
        opacity: 1
    }
}
@keyframes fadeInOpacity{
    0%{
        opacity: 0
    }
    100%{
        opacity: 1
    }
}

@media screen and (max-width: 1550px){
    html{
        font-size: 15px;
    }
    .geolocation-iframe {
        height: 300px;
    }
}
@media screen and (max-width: 1100px){
    .search-bar label{
        display: none;
    }
}
@media screen and (max-width: 900px){
    .page-header,  .page-main{
        flex-direction: column;
    }
    .search-bar {
        margin-top: 1rem;
        margin-left: 0;
    }
    .current-forecast__conditions img {
        position: relative;
        transform: translateX(90%);
    }
    .current-forecast__conditions .temp {
        transform: translateX(150%) translateY(-100%);
    }
    .geolocation {
        margin-top: .5rem;
    }
    .geolocation-iframe {
        width: 100%;
    }
}
@media screen and (max-width: 768px){
    body {
        padding: 1rem;
    }
}
@media screen and (max-width: 500px){
    .current-forecast__conditions img {
        transform: translateX(40%);
    }
    .current-forecast__conditions .temp {
        transform: translateX(80%) translateY(-100%);
    }
    .daily-forecast__contents {
        flex-direction: column;
    }
    .forecastDay{
        display: flex;
        align-items: center;
    }
    .forecastDay + .forecastDay{
        margin-top: 1rem
    }
    .forecastDay > * + *{
        margin-left: 1rem
    }
}
@media screen and (max-width: 400px){
    .current-forecast__conditions img {
        transform: translateX(0);
    }
    .current-forecast__conditions .temp {
        transform: translateX(0) translateY(-100%);
    }
}